.optimize{
    width: 48%;
    margin: auto;
}
.inputOptimize{
    width: 98%;
}

button[type="button"]{
    width: 99%;
    margin-top:5px;
    margin-bottom:15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
input[id="username2"],[id="password2"]{
    width: 99%;
}
input{
    margin-top: 5px;
    margin-bottom:10px;
}
.inline{
    display: inline;
}
